.navbar {
  background-color: rgba(52, 58, 64, 0.5); // Couleur de fond semi-transparente de la barre de navigation
}

.navbar-brand {
  color: #ffffff; // Couleur du texte de la marque
  font-size: 1.5rem; // Taille de la police de la marque
  transition: transform 0.2s; // Transition pour l'agrandissement du curseur
  &:hover {
    color: #f8f9fa; // Couleur du texte de la marque au survol
    transform: scale(1.1); // Agrandir légèrement le curseur au survol
  }
}

.nav-link {
  color: #ffffff; // Couleur du texte des liens de navigation
  margin-right: 1rem; // Marge droite des liens de navigation
  transition: transform 0.2s; // Transition pour l'agrandissement du curseur
  &:hover {
    color: #f8f9fa; // Couleur du texte des liens de navigation au survol
    transform: scale(1.1); // Agrandir légèrement le curseur au survol
  }
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1); // Couleur de la bordure du bouton de bascule
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); // Couleur de l'icône du bouton de bascule
  }
}

.collapse {
  justify-content: flex-end; // Aligner les éléments de navigation à droite
}

.container-fluid {
  display: flex;
  justify-content: space-between; // Espacer les éléments de navigation
  align-items: center; // Aligner les éléments de navigation verticalement
}