.footer {
    background-color: rgba(52, 58, 64, 0.5); // Couleur de fond semi-transparente du footer
    color: #ffffff; // Couleur du texte du footer
    .text-muted {
      color: #f8f9fa !important; // Couleur du texte atténué
    }
  }