.login-form, .logout-form {
    background-color: rgba(52, 58, 64, 0.5); /* Fond transparent */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-white {
    color: white !important;
}